<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Jack</string>
	<key>age</key>
	<string>26</string>
	<key>year</key>
	<string>1992</string>
	<key>city</key>
	<string></string>
	<key>country</key>
	<string></string>
</dict>
</plist>
